body {
    background-color: #CFE5F8;
    font-family: "Nunito", sans-serif  ;
}

.blurb h2 {
    font-weight: bold;
    color: #FFAFCC;
    font-size: 2.5rem;
}

.blurb p {
    color: whitesmoke;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top:100px ;
    margin-bottom: 100px;
}

.custom-width {
    width: 35px;
    /* Or any other specific width */
    height: auto;
    /* To maintain aspect ratio */
}

#mainNavbar .navbar-brand {
    color: #FFAFCC;
    font-size: 1.5rem;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: bold;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #FFAFCC;
}

#headingGroup span {
    /* color: #CDB4DB; */
    color: #FFAFCC;
    font-weight: bold;
}
#headingGroup h1 {
    font-weight: bold;
    font-size: 3rem;
}

.navbar.scrolled {
    background-color: palevioletred;
    opacity: 0.5;
    transition: background-color 0.5s ease-in;
}



@media (max-width:1200px) {
#headingGroup h1 {
font-weight: bold;
font-size: 2rem;
}
}
